language: python
python:
- '3.7'
install:
- pip install -r requirements.txt
script:
- make html
before_install:
- openssl aes-256-cbc -K $encrypted_a03e767856e9_key -iv $encrypted_a03e767856e9_iv
  -in id_rsa_oci_deploy.enc -out id_rsa_oci_deploy -d
