# Copyright (C) 2019 Neilson P. Eney <neilsone@yo-yodyne.com>

language: python
python:
    - "3.7"
# Command to install dependencies
install:
    - pip install -r requirements.txt

script:
    - make html

