/* ==========================================================================
 *    Exodyne Theme for Yo-Yodyne.com
 *    Extension of skeleton responsive boilerplate getskeleton.com
 *
 *    Grid Layout
 * ========================================================================== */

/**
 * Grid container
 *
 * Limit container to 628px to give an approximate cpl of 95 to aid 
 * readability
 */

.container {
  max-width: 628px;
}

header {
  margin-top: 2rem;
}

.content {
  margin-top: 4rem;}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #9BADC1; 
  text-decoration: none;
}
a:hover {
  color: #BF2E22; 
}

/* Logo Styling
 * ========================================================================== */

/**
 * Logo is svg, to center align, it must be displayed as a block element
 */
.logo-container {
  display: block;
}

.logo {
  text-align: center;
  vertical-align: top;
}

.logo-text {
  line-height: 1.3;
  letter-spacing: -.1rem;
  text-decoration: none;
  vertical-align: top;
  color: #9BADC1; 
  font-size: 3.0rem;
  font-family: "Questrial", sans-serif; 
}

.logo-red {
  vertical-align: inherit;
  color: #BF2E22;
}

.logo-grey {
  vertical-align: inherit;
  color: #9BADc1;
}

.logo-image {
  display: inline;
  margin: 0 auto;
}


/* Navbar Styling
 * ========================================================================== */

/**
 * Set z-index artibrarily high to remain on top of all other elements
 */
.navbar,
.navbar-spacer {
  display: block;
  width: 100%;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; 
  background: #fff;
}

.navbar-list {
  list-style: none;
  text-align: center;
  margin-bottom: 0; }
.navbar-item {
  margin-bottom: 0; }
.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-left: 25px;
  text-decoration: none;
  line-height: 3.5rem;
  color: #222; }
.navbar-link.active {
  color: #33C3F0; }

/* Article Styling
 * ========================================================================== */

span.img-title {
  display: block;
  cursor: pointer;
  position: absolute;
  background: rgba(0,0,0,0.5);
  color: white;
}

span.img-title span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


